<form class="modal-body" ng-controller="ClientEditCtrl" ng-cloak x-ng-init="controller.init()">
    <div class="form-group">
        <label for="shortname">Имя коротко</label>
        <input type="text" id="shortname" ng-model="client.ShortName" class="form-control" placeholder="ShortName" />
    </div>
    <div class="form-group">
        <label for="name">Полное имя</label>
        <input type="text" id="name" ng-model="client.Name" class="form-control" placeholder="Name" />
    </div>
    <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" id="address" ng-model="client.Address" class="form-control" placeholder="address" />
    </div>
</form>
