@model Site.Models.MainMenu.MainMenuApiConfig
           
@{
    ViewBag.Title = "Main menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header"><h1>@ViewBag.Title</h1></div>

<div class="row">
    <div class="col-lg-4">
        Menu
    </div>
    <div class="col-lg-8">
        2,3,4
    </div>
</div>