@model Site.Models.MainMenu.MainMenuApiConfig

<div class="modal-body" ng-controller="UserListCtrl" ng-cloak x-ng-init="controller.init(@Json.Encode(Model.UserUrl))">
    <div class="row">
        <button type="button" class="btn btn-default" ng-click="controller.userCreate()">Добавить нового пользователя</button>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Никнейм</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Электронная почта</th>
                <th>Телефон</th>
                <th>Должность</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>
                    <span ng-bind="item.UserName"></span>
                </td>
                <td>
                    <span ng-bind="item.LastName"></span>
                </td>
                <td>
                    <span ng-bind="item.FirstName"></span>
                </td>
                <td>
                    <span ng-bind="item.Patronymic"></span>
                </td>
                <td>
                    <span ng-bind="item.Email"></span>
                </td>
                <td>
                    <span ng-bind="item.Phone"></span>
                </td>
                <td>
                    <span ng-bind="item.Roles"></span>
                </td>
                <td class="w-16">
                    <a class="btn-link" ng-click="controller.userEdit(item.Id)" title="Редактировать" data-toggle="tooltip" data-placement="top">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td class="w-16">
                    <a class="btn-link remove" title="Удалить" ng-click="controller.showRemoveDialog(item.Id)" data-toggle="tooltip" data-placement="left">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="userRemoveDialog.html">
    <div class="modal-header">
        <button type="button" ng-click="controller.closeDialog()" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h4 class="modal-title">Удаление пользователя</h4>
    </div>
    <div class="modal-body">
        Вы уверены что хотите удалить пользователя '<span ng-bind="currentItem.Name"></span>'?
    </div>
    <div class="modal-footer">
        <form action="#" method="POST">
            <button type="button" ng-click="controller.closeDialog()" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" ng-click="controller.userRemove()" class="btn btn-primary">Yes</button>
        </form>
    </div>
</script>

