@model Site.Models.MainMenu.MainMenuApiConfig

<div class="modal-body" ng-controller="UserCtrl" ng-cloak x-ng-init="controller.init(@Json.Encode(Model.UserUrl))">
    <div class="row">
        <button type="button" class="btn btn-default" href="@Url.Action("AddUser", "UserApi")">Добавить нового пользователя</button>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>
                    <span ng-bind="item.UserName"></span>
                </td>
                <td class="glyphicon glyphicon-pencil"></td>
                <td calss="glyphicon glyphicon-remove"></td>
            </tr>
        </tbody>
    </table>
</div>
