@using Servicing.Account
@using Site.Models.Extensions
<div class="modal-body" ng-controller="UserCreateCtrl" ng-cloak x-ng-init="controller.init()">
    <div class="form-group">
        <label for="username">Никнейм</label>
        <input type="text" id="username" ng-model="user.UserName" class="form-control" placeholder="nick" />
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="*****" />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Подтверждение пароля</label>
        <input type="password" id="confirmPassword" ng-model="user.ConfirmPassword" class="form-control" placeholder="*****" />
    </div>
    <div class="form-group">
        <label for="lastname">Фамилия</label>
        <input type="text" id="lastname" ng-model="user.LastName" class="form-control" placeholder="Иванов" />
    </div>
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" id="name" ng-model="user.FirstName" class="form-control" placeholder="Иван" />
    </div>
    <div class="form-group">
        <label for="patronymic">Отчество</label>
        <input type="text" id="patronymic" ng-model="user.Patronymic" class="form-control" placeholder="Иванович" />
    </div>
    <div class="form-group">
        <label for="position">Должность</label>
        <div class="input-group">
            <input type="text" class="btn btn-default" id="position" ng-model="user.Position">
            <button type="button" class="btn btn-default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (Position position in Enum.GetValues(typeof(Position)))
                {
                    <li><a ng-click="controller.changePosition(user, '@position.GetDisplayName()')">@position.GetDisplayName()</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="roles">Роли</label>
        <button type="button" ng-class="{'glyphicon glyphicon-plus': slideUp, 'glyphicon glyphicon-minus': !slideUp}" ng-click="controller.slideUpDown()"></button>
        <div class="rolesBlock">
            <div id="roles" ng-repeat="role in roles">
                <span ng-bind="role.Name"></span>
                <input type="checkbox" ng-model="role.Flag" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="contacts">Электронная почта</label>
        <input type="text" id="contacts" ng-model="user.Email" class="form-control" placeholder="email@Mail.ru" />
    </div>
    <div class="form-group">
        <label for="phone">Телефон</label>
        <input type="text" id="phone" ng-model="user.Phone" class="form-control" placeholder="8914-999-99-99" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="controller.cancel()">Отмена</button>
        <button type="button" class="btn btn-primary" ng-click="controller.save()">Сохранить</button>
    </div>
</div>
